#OpenAI
OPENAI_API_KEY=key

#Neo4j
NEO4J_URI=uri
NEO4J_USERNAME=username
NEO4J_PASSWORD=password
NEO4J_DBNAME=dbname

#MongoDB
MONGODB_URI=uri
MONGODB_DB=db

#Session
SESSION_SECRET=secret
SESSION_EXPIRE_DAYS=number

#File Storage
UPLOAD_DIR=file_location
MAX_FILE_SIZE_MB=numberMB

#App
ALLOWED_ORIGINS=[localhost:3000,]